.diem-den {
  display: flex;
  gap: 30px;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 100px;
  background-color: black;
  color: white;
}
.diem-den-1,
.diem-den-2,
.info-footer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
